<ion-header>
  <ion-toolbar>
    <ion-title><h2>Grocery</h2></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- Item Sliding for Grocery Items Start-->
    <ion-item-sliding>
      <!-- Item 1-->
      <ion-item>
        <h2>Milk</h2>
        <p>1</p>
      </ion-item> 
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options> 
    </ion-item-sliding>
    <!-- Item 2-->  
    <ion-item-sliding>
      <ion-item>
        <h2>Bread</h2>
        <p>2</p>
      </ion-item> 
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>   
    </ion-item-sliding>
    <!-- Item 3 -->  
    <ion-item-sliding>
      <ion-item>
        <h2>Egg</h2>
        <p>3</p>
      </ion-item> 
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>   
    </ion-item-sliding>
    <!-- Item 4-->  
    <ion-item-sliding>
      <ion-item>
        <h2>Banana</h2>
        <p>4</p>
      </ion-item> 
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>   
    </ion-item-sliding>
  </ion-list>
  <!-- Item Sliding for Grocery Items End -->
</ion-content>
